*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100svh;
    border: 1px solid green;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    width: 100svw;
    border: 1px solid green;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid green;
}

